.table {
	overflow: scroll;
	border-collapse: separate;
	border-spacing: 0;
	@apply table-auto;
	&--striped {
		.table__header {
			tr {
				@apply bg-blue-300;
			}
		}

		.table__body {
			tr:nth-child(odd) {
				@apply bg-blue-50;
			}
		}
	}

	&__header{
		position: sticky;
		top: 0;
		&-group-row {
			text-align: center;
		}
		&-row {
			/* box-shadow: 1px 1px gray; */
			text-align: left;
			border-collapse: separate;
			border-spacing: 0;
		}
		&-cell {
			border-collapse: separate;
			border-spacing: 0;
			font-size: 14px;
			@apply p-2 pt-1 pb-1 font-semibold;
			/* @apply border border-collapse dark:border-slate-400; */
			@apply bg-blue-200 text-slate-800  text-left;
		}
	}
	&__body {
		&-row {
			border-collapse: separate;
			border-spacing: 0;
		}
		&-cell {
			font-size: 12px;
			border-collapse: separate;
			border-spacing: 0;
			@apply p-2;
			@apply w-1/2;
			/* @apply border border-collapse; */
			@apply dark:border-slate-400;
			@apply text-slate-900  text-left;
		}
	}
}

table,
.divTable {
  border: 1px solid lightgray;
  width: fit-content;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 30px;
}

th,
.th,
td,
.td {
  /* box-shadow: inset 0 0 0 1px lightgray; */
  padding: 0.25rem;
}

th,
.th {
  padding: 2px 4px;
  position: relative;
  font-weight: bold;
  text-align: center;
  height: 30px;
}

td,
.td {
  height: 30px;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}