.app-container {
  @apply flex flex-col;
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%;
}

.app-header {
  @apply flex flex-col items-center justify-center overflow-hidden;
  @apply bg-gradient-to-t;
  row-gap: 20px;
  height: 30vh;
  font-size: calc(10px + 2vmin);

  .button-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;

    .button {
      border: 1px solid var(--main-color);
      border-radius: 4px;
      padding: 4px 12px;
      color: #4a148c;
      transition: all 250ms ease;
      &:hover {
        background-color: #4a148c;
        color: white;
      }
    }
  }
}
