.app-container {
	width: 100%;
	overflow: hidden;
	position: absolute;
	height: 100%;
}

.app-header {
	background-blend-mode: overlay;
	background-image: url('../../img/background.jpeg');
	background-position: center;
	background-size: cover;
	background-color: #ad9ccb;
	display: flex;
  flex-direction: column;
	justify-content: center;
	row-gap: 20px;
  align-items: center;
	height: 30vh;
	background-color: #8775a9;
  font-size: calc(10px + 2vmin);

	.button-container {
		display: flex;
		flex-direction: row;
		column-gap: 20px;
		row-gap: 20px;

		.button {
			border: 1px solid var(--main-color);
			
			border-radius: 4px;
			padding: 4px 12px;
			color: #4A148C;
			transition: all 250ms ease;
			&:hover {
				background-color: #4A148C;;
				color: white;
			}
		}
	}
}

