@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #01386f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  /*
	align-items: center;
	justify-content: center;
	flex: 1;
	flex-direction: column;
	*/
}

@layer base {
  .header {
    @apply font-medium leading-tight;
    &-1 {
      @apply header;
      @apply text-5xl;
      @apply mb-5;
    }
    &-2 {
      @apply header;
      @apply text-4xl;
      @apply mb-4;
    }
    &-3 {
      @apply header;
      @apply text-3xl;
      @apply mb-3;
    }
    &-4 {
      @apply header;
      @apply text-2xl;
      @apply mb-2;
    }
    &-5 {
      @apply header;
      @apply text-lg;
      @apply mb-1;
    }
  }
  /* .header-1 {
		@apply font-medium leading-tight text-5xl;
	}
	.header-1 {
		@apply font-medium leading-tight text-5xl;
	}
	.header-1 {
		@apply font-medium leading-tight text-5xl;
	}
	.header-1 {
		@apply font-medium leading-tight text-5xl;
	} */
}

@layer components {
  .page {
    &-content {
      &--center {
        @apply flex flex-1 justify-center place-content-center content-center items-center;
      }
    }
  }

  .button {
    @apply flex font-medium leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg;
    @apply transition duration-150 ease-in-out;
    &__primary {
      @apply bg-blue-800 text-white  hover:bg-blue-700 focus:bg-blue-700  active:bg-blue-800;
    }
    &__secondary {
      @apply text-blue-800 hover:bg-gray-200;
    }
    &__success {
      @apply bg-green-600 hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800;
    }
    &--small {
      @apply px-3 py-2 text-xs;
    }
    &--medium {
      @apply px-8 py-4 text-sm;
    }
    &--center {
      @apply justify-center text-center align-middle items-center;
    }
  }
}

/* .page-content--center {
	@apply 
} */
